/* ヘッダー */


.header-box {
  height: 80px;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  z-index: 100;
  display: flex;
  justify-content: space-between;
}

.logos{
display: flex;
}

.logo {
  width: 100%;
  height: 80px;
  text-align: center;
  padding-left: 10px;
  padding-right: 20px;
  line-height: 80px;
  font-size: 20px;
  font-weight: 600;
  color: bisque;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(0, 0, 0);
  white-space: nowrap;
}

nav {
  width: 70%;
}

ul {
  width: 100%;
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

li {
  width: 33%;
}

a {
  display: block;
  width: 100%;
  line-height: 80px;
  text-align: center;
  color: blanchedalmond;
}


/*  */
/*  */
/* ホバーズ */

.main{padding: 24px;}

body{
  background-color: #a8a8a8;
}


.p2 {
    text-align: center;
}

.container {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  
  .box{
    display: flex;
    font-size: 20px;
    align-items: center;
    width: 33%;
    aspect-ratio: 1/1;
    line-height: 100px;
    background-color: rgb(145, 198, 216);
    margin: 2px;
    border: 1px solid rgb(170, 170, 170);
    justify-content: center;
    position: relative;
    right: 0px;
    white-space: nowrap;
    color: #FFFFFF;
  }

  .box:hover{
    background-color: rgb(206, 120, 120);
  }
  
  .box span:nth-child(1){
    position:absolute;
    display: none;
  }

  .box:hover span:nth-child(1){
    display: inline-block;
  }

  .box:hover span:nth-child(2){
    opacity: 0;
  }

/* ホバー終わり */

.wrapper{
  display: flex;
  flex-direction: row;
  height: 100vh;
  font-family: BIZ UDMincho;
}

.left{
  flex: 1;
  border-right: 0.1px solid rgba(208, 208, 208, 0.969);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* position: relative; */
  padding-right: 12px;
}

.doras{
  /* display: flex;これあったらそりゃ回り込まないよねえ！自分で気づけた嬉しい */
  align-items: flex-start;
}

.dora-moji{
  margin-left: 16px;
}

.dora-name{
  white-space: nowrap;
  font-size: 28px;
  font-weight: 800;
}

.dora-dis{
  /* width: 100%; */
  /* これで解決した!?!?!?!?!?!? */
  font-size: 20px;
  text-align: justify;
  color: #3a3a3a;
}

.left img{
  width: 45%;
  height: auto;
  margin: 8px 12px 8px 8px;
  max-width: 40vh;
  max-height: 40wh;
  object-fit: contain;
  float: left;
}



/* ここから右 */


.right{
  flex: 1;
  /* border-left: 0.1px solid whitesmoke; */
  overflow: auto;
  overflow-x: hidden;
}

.profile{margin-left: 24px;
  margin-right: 24px;}

.pro-name{font-size: 24px;
  font-weight: 700;
}

.pro-dis{font-size: 16px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
  line-height: 1.5;
  text-align: justify;}






.kara-moji{
  margin-left: 18px;
}

.kara-name{
  font-size: 24px;
  font-weight: 700;
  margin-top: 36px;
}

.kara-dis{
  font-size: 16px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

.kara img{
  height: auto;
  margin: 12px;
}
 
.yoro{margin-left: 24px; margin-right: 24px; text-align: justify;}

.yoro-name{font-size: 24px; font-weight: 700; margin-top: 36px;}

.yoro-dis{
  font-size: 16px;
  font-family:"Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体";
}

/* 以下footer */
.myname{text-align: center;}